body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    width: 500px;
    border: 0px solid #198a73;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #display {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    border: 0px solid #228957;
    border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 20px;
    background-color: #7b866a;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #864b4b;
  }
  